@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');

.div-signin{
    box-sizing: content-box;
    background-color:#ee496a;     
    height: 58px;
    width: 155px;
    text-align: center;
    margin: 0;
}
@media screen 

/* .sign-in{
        display: flex;
        flex-direction: row;
        position: relative;
        font-weight: bold!important;
        color:#4c4c4c!important;
   
    } */
   
    .title{
        font-family: 'Lobster', cursive;
        color:rgb(73, 69, 69);
    }
    .eng{
        color: red;
        padding-right: 1px;
        cursor: pointer;
    }
    .help{
        background-image: linear-gradient(to right white, grey);
        box-sizing: content-box;
        height: 58px;
        width: 130px;
        text-align: center;
        margin: 0;
    }
    .lang{
        box-sizing: content-box;
        height: 58px;
        width: 120px;
        text-align: center;
        margin: 0;
    }